<!DOCTYPE html>
<html>
<head>
    <title>Choose Subject</title>
</head>
<body style="font-family:Arial;background:linear-gradient(135deg,#3b82f6,#8b5cf6,#ec4899);">

<center>

<h1 style="color:white;">IntelliGap</h1>

<div style="background:white;width:450px;padding:30px;border-radius:15px;margin-top:50px;">

<h2>Select Subject</h2>

<a href="/instructions/python/">
    <button style="width:250px;height:45px;margin:10px;background:#2563eb;color:white;border:none;border-radius:8px;">
        Python
    </button>
</a>
<a href="/instructions/ml/">
    <button style="width:250px;height:45px;margin:10px;background:#2563eb;color:white;border:none;border-radius:8px;">
        Machine Learning
    </button>
</a>
<a href="/instructions/dbms/">
    <button style="width:250px;height:45px;margin:10px;background:#2563eb;color:white;border:none;border-radius:8px;">
        DBMS
    </button>
</a>
<a href="/instructions/java/">
    <button style="width:250px;height:45px;margin:10px;background:#2563eb;color:white;border:none;border-radius:8px;">
        Java
    </button>
</a>
</center>

</body>
</html>